.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}
.table th,
.table tr {
    padding: 5px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table tr th {
    font-size: 13px;
}

.table tbody tr td {
    padding: 8px;
    font-size: 13px;
}
